@font-face {
  font-family: 'Jua';
  src: url('/fonts/Jua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body, html, * {
  padding: 0;
  margin: 0;
  font-family: 'Jua', sans-serif;
  box-sizing: border-box;
}